[Desktop Entry]
Encoding=UTF-8
Name=Link to A-STAR Pathfinding for HTML5 Canvas by @McFunkypants - JSFiddle
Type=Link
URL=http://jsfiddle.net/McFunkypants/eky9f/
Icon=text-html
