[Desktop Entry]
Encoding=UTF-8
Name=Link to Load local image into browser using JavaScript? - Stack Overflow
Type=Link
URL=http://stackoverflow.com/questions/3996004/load-local-image-into-browser-using-javascript
Icon=text-html
